@import "../../App.scss";

.movie-details {
  position: relative;
  right: 20%;
  width: 20vw;
  display: inline-grid;
}

.favorite-button {
  width: 46px;
  height: 46px;
  background: transparent url("../../images/Icon-Guardar.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  outline: none;
  border: none;
  border-radius: 100%;
  position: relative;
  top: 10%;
}
a {
  @include buttons;
  outline: none;
}
.linksConteiner {
  position: relative;
  top: 5%;
  right: 100%;
}
.movieTitle {
  color: $white_color;
  width: 100%;
  position: relative;
  top: 50%;
  right: 170%;
}
.movieRelease {
  color: $white_color;
  width: 100%;
  position: relative;
  right: 170%;
  top: 50%;
  font-weight: 100;
}
@media (max-width: 1280px), (max-height: 768px) {
  .movieTitle {
    right: 130%;
    top: 20%;
  }
  .movieRelease {
    right: 130%;
    top: 15%;
  }
}

@media (max-width: 768px) {
  .movieTitle {
    right: 130%;
  }
  .movieRelease {
    right: 130%;
  }
}
