@import "../../App.scss";

.grande {
  display: block;
  min-width: $film_width;
  height: 50vh;
  border-radius: 8px;
  margin: 2%;
  margin-top: 0.5%;
  &:hover {
    background: $black_color;
    mix-blend-mode: multiply;
    border-radius: 8px;
    opacity: 0.8;
  }
}
.pequeno {
  display: block;
  min-width: $film_width;
  height: 40vh;
  border-radius: 8px;
  margin: 2%;
  margin-top: 0.5%;
  &:hover {
    background: $background_color;
    mix-blend-mode: multiply;
    border-radius: 8px;
    opacity: 0.8;
  }
}

@media (max-width: 768px) {
  .grande {
    min-width: $film_width * 1.5;
  }
  .pequeno {
    min-width: $film_width * 1.5;
  }
}
