.header {
  background: transparent url("../../images/Polígono 1.svg") 0% 0% no-repeat
    padding-box;
  border: 1px solid #707070;
  opacity: 0.05;
  filter: blur(50px);
}
.logo {
  margin: 10px auto;
  width: 30vw;
  height: 30vh;
  background: transparent url("../../images/Logo-Oscars.svg") 0% 0% no-repeat
    padding-box;
  background-size: contain;
  opacity: 1;
}
@media (max-width: 1280px), (max-height: 768px) {
  .logo {
    height: 25vh;
    width: 20vw;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 40vw;
    height: 10vh;
  }
}
