$background_color: #13171d 0% 0% no-repeat padding-box;
$white_color: #fff;
$black_color: #13171d;
$film_width: 20vw;

@mixin buttons() {
  background: $background_color;
  border: none;
  outline: none;
  text-align: right;
  font: normal normal 600 16px/19px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  box-shadow: 0px 5px 6px #00000029;
  border-radius: 26px;
  opacity: 1;
  padding: 10px;
}

.App {
  background: transparent
    linear-gradient(180deg, #0f1825 0%, #0f1825 50%, #0d0d1b 100%) 0% 0%
    no-repeat padding-box;
  opacity: 1;
}
.filters {
  @include buttons;
  position: absolute;
  left: 63%;
  top: 30%;
  option {
    background: $white_color;
    text-align: left;
    font: normal normal 300 16px/19px Montserrat;
    letter-spacing: 0px;
    color: $black_color;
    opacity: 1;
  }
}
@media (max-width: 1280px), (max-height: 768px) {
  .filters {
    @include buttons;
    position: absolute;
    left: 58%;
    top: 25%;
    padding: 12px;
    option {
      background: $white_color;
      text-align: left;
      font: normal normal 300 16px/19px Montserrat;
      letter-spacing: 0px;
      color: $black_color;
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .filters {
    @include buttons;
    position: absolute;
    left: 68%;
    top: 12%;
    padding: 2px;
    width: 100px;
    option {
      background: $white_color;
      text-align: left;
      font: normal normal 300 16px/19px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 0px;
      color: $black_color;
      opacity: 1;
    }
  }
}
