@import "../../App.scss";
.moviesList {
  margin: 0 auto;
  max-width: $film_width * 2;
  column-count: 2;
  column-fill: auto;
}
@media (max-width: 1280px), (max-height: 768px) {
  .moviesList {
    margin: 0 auto;
    max-width: $film_width * 2;
    column-count: 2;
    column-fill: auto;
  }
}

@media (max-width: 768px) {
  .moviesList {
    margin: 0 auto;
    max-width: $film_width * 3;
    column-count: 2;
    column-fill: auto;
  }
}
